body
{
	text-align: center;
	background-image: url("JHGD.jpg");
    background-position: center;
    background-size: cover;
}

.heading
{    
    width: 100%;
    font-size: 33px;
    margin-top: 0px;
}

#status
{
    font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

.link
{
    background-color: rgb(252, 157, 252);
    width: 80px;
    border-radius: 10px;
    float: right;
}
